<div class="detail mt-4">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <h2>{{heading}}</h2>
        <form method="POST" action="/submit/{{id}}?_method=PATCH">

            {{#each question}}
            <div class="row">
                <div class="question">
                    <span>
                        Câu:
                        <h2>{{sum @index 1}}</h2>
                    </span>
                    <h2>{{this.question}}?</h2>
                </div>
                <div class="boxes">
                    <input class="tickBtn" value="{{this.question}}" name="question" type="checkbox" checked hidden>

                    <div class="answer">
                        <input class="tickBtn" value="{{this.answer1}}" name="cau{{sum @index 1}}" type="radio"
                            id="{{this._id}}">
                        <label>{{this.answer1}}</label>
                    </div>

                    <div class="answer">
                        <input class="tickBtn" value="{{this.answer2}}" name="cau{{sum @index 1}}" type="radio"
                            id="{{this._id}}">
                        <label>{{this.answer2}}</label>
                    </div>

                    <div class="answer">
                        <input class="tickBtn" value="{{this.answer3}}" name="cau{{sum @index 1}}" type="radio"
                            id="box-3">
                        <label>{{this.answer3}}</label>
                    </div>

                    <div class="answer">
                        <input class="tickBtn" value="{{this.answer4}}" name="cau{{sum @index 1}}" type="radio"
                            id="box-4">
                        <label>{{this.answer4}}</label>
                    </div>
                </div>
            </div>

            {{/each}}
            <button class="submitBtn" type="submit">gửi</button>
        </form>
    </div>
</div>