<div class="home mt-4">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
       
                <h2>Khảo sát tất cả mọi thứ</h2>
            <div class="row">
                {{#each tittle}} 
                <div class="col-12 col-sm-6 col-md-4 image-grid-item">
                    <a class="linkItem" href="/detail/{{this._id}}">
                        <div style="background-image: url({{this.thumbnail}});"
                        class="image-grid-cover">
                        <h2 class=" tittle cover-wrapper">{{this.tittle}}</h2>
                        <h2 class="field-lable">{{this.field}}</h2>
                        <div class="info-view-wrap">
                            <div class="infor-view">
                                <span>{{this.countQuestion}}</span>
                                <i class="fa-solid fa-circle-question"></i>
                            </div>
                            <div class="infor-view">
                                <span>{{this.countRank}}</span>
                                <i class="fa-solid fa-user-check"></i>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {{/each}}
            </div>
    </div>
</div>